* {
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow-x: hidden;
}
textarea {
  height: 0.75rem;
  width: 10rem;
  background-color: grey;
  color: white;
}
.header {
  width: 100%;
  height: 10rem;
  color: yellow;
}
#timer-clock {
  display: flex;
  font-size: xx-large;
  background-color: rgb(90, 90, 95);
  border-radius: 8%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}
.question-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 20rem;
  background-color: rgb(117, 117, 124);
  width: 100%;
}
.questions {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 20rem;
  background-color: rgb(117, 117, 124);
  width: 100%;
}

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 20rem;
  text-align: center;
  margin-left: 100px;
}

.start-page h1 {
  color: black;
  font-size: 2.5rem;
}
.start-page p {
  padding-top: 2rem;
}
.btn {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 700;
  font-size: 0.85rem;
  border-radius: 0.5rem;
  overflow: hidden;
  color: #fff;
  background: #9e8c8c;
}
